<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="URL_ROOT" value="https://api-test.nicehash.com"/> <!-- //use https://api2.nicehash.com for production -->
      <add key="ORG_ID" value="aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"/>
      <add key="API_KEY" value="ffffffff-gggg-hhhh-iiii-jjjjjjjjjjjj"/>
      <add key="API_SECRET" value="kkkkkkkk-llll-mmmm-nnnn-oooooooooooooooooooo-pppp-qqqq-rrrr-ssssssssssss"/>
    </appSettings>
</configuration>